{% extends 'basesimple.html.twig' %}

{% block body %}

    <!-- Menú de Empresas --> 
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
       
      <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{ path('empresas_inicio') }}"></a>
            <a class="p-2 text-dark" href="{{ path('empresas_inicio') }}">Ver ofertas</a>
            <a class="btn btn-outline-primary" href="{{ path('empresa_nueva') }}"> <i class="fa fa-pencil"></i> Crear una nueva empresa</a>
      </nav>
      <a class="btn btn-outline-primary" href="#"><i class="fa fa-search"></i> Buscar Ofertas</a>
      </div>

      <i class="fa fa-user"></i> {{ empresa.nombre }}<br>
        <h1><i class="fa fa-user"></i> {{ nombre }} </h1>
        
    <div class="container">  
        <br>
        {% if NumOfertas >0  %}
            Ofertas Activas :{{ NumOfertas }} 
        {% else %}
            No existen ofertas 
        {% endif %}
         <br>
            
         {% for oferta in ofertas %}   
            <div class="row">
                <div class="col-3"> {{ oferta.titulo }}</div>
                <div class="col-2"> {{ oferta.fecha|date('d/m/Y') }}</div>
                <div class="col-2"> {{ oferta.estado }}</div>
                <div class="col-2"> <i class="fa fa-group"></i> ( 20 )</div>
                <a class="btn" href="{{ path('oferta_show', { 'id': oferta.id }) }}"> <i class="fa fa-eye"></i></a>
                <a class="btn btn" href="{{ path('oferta_edit', { 'id': oferta.id }) }}"> <i class="fa fa-edit"></i></a>
            </div>
 
        {% endfor %}
         </div>
    </div>
{% endblock %}
