<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    <title>{% block title %}Bolsa de Trabajo - AVIA{% endblock %}</title>
    <link rel="shortcut icon" href="http://avia.com.es/wp-content/uploads/2015/09/favicon.png">
    

    <!-- Bootstrap core CSS -->
    {% block stylesheets %}
    <link href="{{ asset('/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ asset('/css/pricing.css') }}" rel="stylesheet">
    {% endblock %}
  </head>



      <body class="home page-template-default page page-id-328 et_bloom et_pb_button_helper_class et_fixed_nav et_show_nav et_cover_background et_secondary_nav_enabled et_secondary_nav_two_panels et_pb_gutter osx et_pb_gutters3 et_primary_nav_dropdown_animation_expand et_secondary_nav_dropdown_animation_expand et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_smooth_scroll et_right_sidebar et_divi_theme et_minified_js et_minified_css">
	<div id="page-container">

            <div id="top-header">
            <div class="container clearfix">
                <div id="et-info">
                    <a href="tel:963 941 258"><span><i class="fa fa-phone"></i> (+34) 963 941 258</span></a>
                    <a href="mailto:avia@avia.com.es"><span><i class="fa fa-envelope"></i> avia@avia.com.es</span></a> 

                            <ul class="et-social-icons">
                                <li> 
                                    <a href="http://www.facebook.com/pages/AVIA-Cluster-de-Automoci%C3%B3n-de-la-Comunidad-Valenciana/219805481368122" target="_blank" class="icon">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://twitter.com/Avia_automocion" target="_blank" class="icon">
                                       <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.linkedin.com/company/avia---cluster-de-automoci-n-de-la-comunitat-valenciana" target="_blank" class="icon">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>				
                </div> <!-- #et-info -->

			
                <div id="et-secondary-menu">
                    <div class="et_duplicate_social_icons">
                            <ul class="et-social-icons">
                                <li> 
                                    <a href="http://www.facebook.com/pages/AVIA-Cluster-de-Automoci%C3%B3n-de-la-Comunidad-Valenciana/219805481368122" target="_blank" class="icon">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://twitter.com/Avia_automocion" target="_blank" class="icon">
                                       <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.linkedin.com/company/avia---cluster-de-automoci-n-de-la-comunitat-valenciana" target="_blank" class="icon">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
</div><ul id="et-secondary-nav" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-831"><a href="#">Sala de prensa</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-832"><a href="http://avia.com.es/kit-de-prensa/">Kit de prensa</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-576"><a href="http://avia.com.es/notas-de-prensa-avia/">Notas de prensa</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-580"><a href="http://avia.com.es/en-los-medios/">En los medios</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2136"><a target="_blank" href="http://bolsatrabajo.avia.com.es/">Bolsa de trabajo</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-326"><a href="http://avia.com.es/contacto/">Contacto</a></li>
<li class="menu-item-language menu-item-language-current menu-item menu-item-has-children wpml-ls-slot-20 wpml-ls-item wpml-ls-item-es wpml-ls-current-language wpml-ls-menu-item wpml-ls-first-item menu-item-wpml-ls-20-es"><a title="ESP" href="http://avia.com.es"><span class="wpml-ls-native">ESP</span></a>
<ul class="sub-menu">
	<li class="menu-item-language menu-item wpml-ls-slot-20 wpml-ls-item wpml-ls-item-en wpml-ls-menu-item wpml-ls-last-item menu-item-wpml-ls-20-en"><a title="ENG" href="http://avia.com.es/?lang=en"><span class="wpml-ls-native">ENG</span></a></li>
</ul>
</li>
</ul>				</div> <!-- #et-secondary-menu -->

			</div> <!-- .container -->
		</div> <!-- #top-header -->
	
	
		<header id="main-header" data-height-onload="94">
			<div class="container clearfix et_menu_container">
							<div class="logo_container">
					<span class="logo_helper"></span>
					<a href="http://avia.com.es/">
						<img src="http://avia.com.es/wp-content/uploads/2015/07/logo.png" alt="Avia" id="logo" data-height-percentage="54" />
					</a>
				</div>
				<div id="et-top-navigation" data-height="94" data-fixed-height="40">
				<nav id="top-menu-nav">
		<ul id="top-menu" class="nav"><li id="menu-item-516" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-516"><a href="#">AVIA</a>
<ul class="sub-menu">
	<li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="http://avia.com.es/quienes-somos/">Quiénes somos</a></li>
	<li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a href="http://avia.com.es/organigrama/">Organigrama</a></li>
	<li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a href="http://avia.com.es/datos-generales/">Datos generales</a></li>
</ul>
</li>
<li id="menu-item-185" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-185"><a href="http://avia.com.es/que-aportamos/">Qué aportamos</a>
<ul class="sub-menu">
	<li id="menu-item-712" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-712"><a href="http://avia.com.es/que-aportamos/">Comisiones</a></li>
	<li id="menu-item-713" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-713"><a href="http://avia.com.es/que-aportamos/#servicios">Servicios</a></li>
</ul>
</li>
<li id="menu-item-188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-188"><a href="http://avia.com.es/asociados/">Asociados</a></li>
<li id="menu-item-189" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-189"><a href="http://avia.com.es/agenda/">Agenda</a></li>
<li id="menu-item-575" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-575"><a href="http://avia.com.es/acciones/">Acciones</a></li>
<li id="menu-item-575" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-575"><a href="http://twitter.com/Avia_automocion" target="_blank" class="icon"><i class="fa fa-search"></i></a></li>
</ul>						
</nav>
					

					
					<div id="et_mobile_nav_menu">
				<div class="mobile_nav closed">
					<span class="select_page">Seleccionar página</span>
					<span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
				</div>
			</div>				</div> <!-- #et-top-navigation -->
			</div> <!-- .container -->
			<div class="et_search_outer">
				<div class="container et_search_form_container">
					<form role="search" method="get" class="et-search-form" action="http://avia.com.es/">
					<input type="search" class="et-search-field" placeholder="Búsqueda &hellip;" value="" name="s" title="Buscar:" />					</form>
					<span class="et_close_search_field"></span>
				</div>
			</div>
		</header> <!-- #main-header -->
      
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
       
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">AVIA</a>
        <a class="p-2 text-dark" href="#">Inscribirse</a>
        <a class="p-2 text-dark" href="{{ asset('/empresas/nuevo') }}">Empresas</a>
      </nav>
      <a class="btn btn-outline-primary" href="{{ asset('/empresas/buscar') }}"><i class="fa fa-search"></i> Buscar Ofertas</a>
    </div>

  
        
{% block body %}
             
{% endblock %}

<footer class="main-footer pt-4 my-md-5 pt-md-5 border-top">
        <div class="container">    
            <div class="row">
              <div class="col-12 col-md">
                  <h5>AVIA</h5>
                    Cluster de automoción de la Comunitat Valenciana
              </div>
              <div class="col-6 col-md">
                  <h5><i class="fa fa-building"></i> Polígono Industrial Juan Carlos I.</h5>
                 Avenida de la Foia, número 8, edificio 3, 1º, puerta 2. 46440, Almussafes, Valencia

              </div>
              <div class="col-6 col-md">

                    <i class="fa fa-phone"></i> <a href="tel:(+34) 963 941 258"> (+34) 963 941 258</a><br>
                    <i class="fa fa-envelope"></i>  <a href="mailto:avia@avia.com.es">avia@avia.com.es</a><br>
                    <i class="fa fa-facebook-square"></i> <a href="http://www.facebook.com/AVIA-Cluster-de-Automoci%C3%B3n-de-la-Comunidad-Valenciana-219805481368122/"  target="_blank">Facebook</a><br>
                    <i class="fa fa-twitter-square"></i> <a href="http://twitter.com/Avia_automocion"  target="_blank">Twitter</a><br>
                    <i class="fa fa-linkedin-square"></i> <a href="https://www.linkedin.com/company/avia---cluster-de-automoci-n-de-la-comunitat-valenciana"  target="_blank">Linkedin</a>

              </div>
              <div class="col-6 col-md">
                <h5>Enlaces</h5>

                <ul id="menu-avia" class="menu">
                <li id="menu-item-615" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-615"><a href="http://avia.com.es/quienes-somos/">Quiénes somos</a></li>
                <li id="menu-item-616" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-616"><a href="http://avia.com.es/organigrama/">Organigrama</a></li>
                <li id="menu-item-617" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-617"><a href="http://avia.com.es/datos-generales/">Datos generales</a></li>
                </ul>
              </div>
            </div>
        </div>
          
    <div id="et-footer-nav">
        <div class="container">
            <ul id="menu-legal" class="bottom-nav"><li id="menu-item-610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-328 current_page_item menu-item-610"><a href="http://avia.com.es/">Inicio</a></li>
            <li id="menu-item-1199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1199"><a href="http://avia.com.es/aviso-legal/">Aviso legal</a></li>
            <li id="menu-item-1198" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1198"><a href="http://avia.com.es/politica-de-privacidad/">Política de privacidad</a></li>
            <li id="menu-item-1196" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1196"><a href="http://avia.com.es/cookies/">Cookies</a></li>
            <li id="menu-item-1266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1266"><a href="http://avia.com.es/asociarse-a-avia/">Asociarse a AVIA</a></li>
            </ul>					
        </div>
    </div> <!-- #et-footer-nav -->

			
    <div id="footer-bottom">
        <div class="container clearfix">
            <ul class="et-social-icons">
                <li> 
                    <a href="http://www.facebook.com/pages/AVIA-Cluster-de-Automoci%C3%B3n-de-la-Comunidad-Valenciana/219805481368122" target="_blank" class="icon">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/Avia_automocion" target="_blank" class="icon">
                       <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/company/avia---cluster-de-automoci-n-de-la-comunitat-valenciana" target="_blank" class="icon">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>	

            <div id="footer-info">
                AVIA, Cluster de Automoción de la Comunitat Valenciana © 2018 | Web: <a href="http://btoclick.com/" target="_blank">BtoClick</a>
            </div>					
        </div>
    </div>
</footer>
    

      
      

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>');</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
    {% endblock %}
  </body>
</html>
