{% extends 'basesimple.html.twig' %}

{% block body %}
    <h1>Oferta</h1>
            <!-- Menú de Ofertass -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">

      <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{ path('ofertas_inicio') }}"></a>
            <a class="btn btn-outline-primary" href="{{ path('ofertas_inicio') }}"><i class="fa fa-eye"></i> Ver ofertas</a>
            <a class="btn btn-outline-primary" href="{{ path('oferta_nueva') }}"> <i class="fa fa-pencil"></i> Crear una nueva oferta</a>
            <a class="btn btn-outline-primary" href="{{ path('oferta_buscar') }}"> <i class="fa fa-search"></i> Buscar oferta</a>
      </nav>

    </div>
    <div class="container">
        <div class=" bg-white border-bottom box-shadow">

            <div class="row">
                <div class="col-2 ">Estado</div>
                <div class="col-8 ">{{ oferta.estado }}</div>
            </div>
            <div class="row">
                <div class="col-2 ">Titulo</div>
                <div class="col-8 ">{{ oferta.titulo }}</div>
            </div>
            <div class="row">
                <div class="col-2 ">Fecha</div>
                <div class="col-8 ">{% if oferta.fecha %}{{ oferta.fecha|date('d/m/Y') }}{% endif %}</div>
            </div>
            <div class="row">
                <div class="col-2 ">Empresa</div>
                <div class="col-8 ">
                    {% if oferta.descripcionAlternativa|length > 0 %}
                        {{ oferta.descripcionAlternativa }}
                    {% else %}
                        {{ oferta.empresa }}
                    {% endif %}</div>
            </div>
            <div class="row">
                <div class="col-2 ">Descripcion</div>
                <div class="col-10 "><textarea disabled rows="4" cols="50">{{ oferta.descripcion }}</textarea></div>
            </div>

            <div class="row">
                <div class="col-2 ">Puestos</div>
                <div class="col-8 ">{{ oferta.puestos }}</div>
            </div>
            <div class="row">
                <div class="col-2 ">Lugar centro de trabajo</div>
                <div class="col-8 ">{{ oferta.lugarCentroTrabajo }}</div>
            </div>
            <div class="row">
                <div class="col-2 ">Pais</div>
                <div class="col-8 ">{{ oferta.pais }}</div>
            </div>
            <div class="row">
                <div class="col-2 ">Experienciasector</div>
                <div class="col-8 ">{% if oferta.experienciaSector %}Yes{% else %}No{% endif %}</div>
            </div>
            <div class="row">
                <div class="col-2 ">Experienciaminima</div>
                <div class="col-8 ">{% if oferta.experienciaMinima %}Yes{% else %}No{% endif %}</div>
            </div>
            <div class="row">
                <div class="col-2 ">Minusvalia</div>
                <div class="col-8 ">{% if oferta.minusvalia %}Yes{% else %}No{% endif %}</div>
            </div>
            <div class="row">
                <div class="col-2 ">Beca</div>
                <div class="col-8 ">{% if oferta.beca %}Yes{% else %}No{% endif %}</div>
            </div>

            <div class="row">
                <div class="col-4 ">Categorias</div>
                {% if oferta.categorias %}
                <div>
                    <img src="/imagenes/up.png" width=16px; id="FlechasActivas-up" class="imgcolexp"/>
                    <img src="/imagenes/down.png"  width=16px; id="FlechasActivas-down" class="imgcolexp"/>
                </div>
                    <div class="col-8 " id="CategoriasActivas">
                        {% for item in oferta.categorias %}
                          {{ item }} ,
                        {%endfor%}
                    </div>
                {%endif%}
            </div>

            <div class="row">
                <div class="col-4 ">Estudios</div>
                {% if oferta.estudios %}
                    <div class="col-8 " id="CategoriasActivas">
                        {% for item in oferta.estudios %}
                          {{ item }} ,
                        {%endfor%}
                    </div>
                {%endif%}
            </div>

            <div class="row">
                <div class="col-2 ">Idiomas</div>
                {% if oferta.idiomas %}
                  <div class="col-8 ">
                {% for item in oferta.idiomas %}
                  {{ item }} ,
                {%endfor%}
                </div>
                {%endif%}
            </div>

            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
            <nav class="my-2 my-md-0 mr-md-3">

                {{ form_start(delete_form) }}
                    <a class="btn btn-outline-primary" href="{{ path('login') }}">Volver</a>
                    <a class="btn btn-outline-primary" href="{{ path('oferta_edit', { 'id': oferta.id }) }}">Editar</a>

                        <input type="submit" value="Borrar" class="btn btn-outline-primary">
                {{ form_end(delete_form) }}


                    <a class="btn btn-outline-primary" href="{{ path('login') }}">Volver</a>
            {% endif %}
            {% if Rol == 'ROLE_CANDIDATO' %}
                    <a class="btn btn-outline-primary" href="javascript:window.history.go(-1);">Volver a la página anterior</a>
                    <a class="btn btn-outline-primary" href="{{ path('login') }}">Inscribirse</a>
            {% endif %}

            </nav>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
        // Ofertas Activas
        // oculta la segunda flecha y las ofertas. Estado inicial

	$("#FlechasActivas-up").css("display","none");
        $("#FlechasActivas-down").css("display","block");
        $("#CategoriasActivas").hide();


	$("#FlechasActivas-up,#FlechasActivas-down").click(function () {
		$("#CategoriasActivas").slideToggle("slow");

		if($("#FlechasActivas-up").css("display") == "block")
		{
			$("#FlechasActivas-up").css("display","none");
			$("#FlechasActivas-down").css("display","block");
		}
		else
		{
			$("#FlechasActivas-up").css("display","block");
			$("#FlechasActivas-down").css("display","none");
		}
	});

});
</script>

{% endblock %}
